@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root{
    --main-color: #f2f2f2;
    --gradient-1: linear-gradient(180deg, #ff6f48 0%, #F02AA6 100%);
    --gradient-1-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%,#F02AA6 100%);
    --gradient-2: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    --gradient-2-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    background-color: var(--main-color);
}

.container{
    height: 100%;
}