@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root{
    --main-color: #f2f2f2;
    --button-1: #13183F;
    --gradient-1: linear-gradient(180deg, #ff6f48 0%, #F02AA6 100%);
    --gradient-1-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%,#F02AA6 100%);
    --gradient-2: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    --gradient-2-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

.container{
    height: 600px;
    width: 1110px;
    margin: 40px auto;
}

header button{
    float: right;
    background: var(--button-1);
}

.nav{
    width: 100%;
    height: 700px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.nav .nav-top-right{
    width: 400px;
    height: 450px;
    display: flex;
}

picture{
    height: 100%;
    border-color: #F02AA6;
    display: flex;

    float: left;
    flex-direction: row;
}

.nav-top-left{
    background: #F02AA6;
    width: 457px;
    height: 350px;
    left: 165px;
    top: 252px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* position: absolute; */

}

.nav-top-left h1{
    font: Plus Jakarta Sans;
    font-style: normal;
    color: #13183F;
    width: 457px;
    height: 143px;
    position: absolute;
    font-weight: 800;
    font-size: 56px;
    line-height: 70px;
}

.nav-top-left p{
    width: 445px;
    height: 84px;
    top: 172px;
    position: absolute;
    color: #83869A;
    font: Plus Jakarta Sans;
    font-weight: 500;
    size: 18px;
    line-height: 28px;
}
.nav-top-left button{
    position: absolute;
    background: var(--gradient-1);
}

button{
    padding: 5px 20px;
    border: none;
    color: #fff;
    align-items: center;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 100px;
    white-space: nowrap;
}

button:active, button:focus{
    outline: none;
}

.main{
    width: 100%;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}

.cardholder{
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    
}
.cards{
    width: 90%;
    height: 300PX;
    margin: 15px;
    padding: 10PX;
    border-radius: 5%;
    box-shadow: 0px 5px 15px -10px #000;
}

.cards .first{
    background: var(--gradient-1);
}

footer{
    height: 50px;
    width: 1120px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #13183F;
}

footer img{
    margin-left: 10px;
    padding-left: 20px;
    font-size: 0.5rem;
}

footer button{
    margin-right: 50px;
    padding-right: 20px;
    background: var(--gradient-2);
}

@media screen and(max-width:480px) {
    .container{
        margin: 480px 0;
        height: 100%;
        flex-direction: column-reverse;
    }
}

@media screen and(max-width:768px) {
    .container{
        width: 90%;
        padding: 10px 35px 40px 35px;
    }
}